html {
  font-family: 'Muli', 'Roboto', sans-serif;
  font-weight: 300;
  color: #333;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.orchid {
  background-color: #990066 !important;
}
.orchid-transparent {
  background-color: rgba(153, 0, 102, 0.7);
}
.yello {
  background-color: #fdb813 !important;
}
.sea-green {
  background-color: #99d3b7 !important;
}
.orchid-text {
  color: #990066 !important;
}
.yello-text {
  color: #fdb813 !important;
}
.sea-green-text {
  color: #99d3b7 !important;
}

h1, h2, h3, h4, h5, h6 {
  color: #990066;
  font-weight: 300;
  text-transform: uppercase;
}

h4 {
  margin: 40px 0;
  text-align: center;
}

a,
.dropdown-content li>a,
.dropdown-content li>span {
  color: #990066;
}

nav, .navbar, .navbar-fixed, nav .nav-wrapper i {
  height: 42px;
  line-height: 42px;
}
.navbar {
  position: absolute;
  top: 458px;
  z-index: 10;
  width: 100%;
}
.navbar .nav-logo {
  opacity: 0;
}
.navbar.navbar-fixed .nav-logo {
  opacity: 1;
}

nav, nav a {
  text-transform: uppercase;
}

.nav-logo {
  max-width: 290px;
  vertical-align: middle;
  transition: opacity 0.5s ease;
}

.dropdown-content li {
  min-height: 0;
  line-height: inherit;
}
.dropdown-content li:hover {
  background-color: rgba(153, 0, 102, 0.7);
}
.dropdown-content li>a {
  font-size: inherit;
  padding: 10px 16px;
}
.dropdown-content li:hover>a {
  color: white;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  height: 1px;
  background-color: #d699c2;
}

.headline {
  text-transform: uppercase;
  color: #990066;
}

.page-footer {
  font-size: smaller;
}

.w100 {
  width: 100%;
}

.header-bg {
  width: 100%;
  background: url('/images/background.jpg') no-repeat;
	background-size:cover;
}

.btn:hover {
  background-color: #990066 !important;
}

.top-info {
  position: absolute;
  z-index: 5;
  padding: 30px 50px;
  width: 100%;
}
.sprechzeiten td {
  padding: 0 10px 0 0;
}
.sprechzeiten hr {
  margin-top: 10px;
}

.map-shadow {
  position: absolute;
  background: -moz-linear-gradient(top,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0)));
  background: -webkit-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
  background: -o-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
  background: -ms-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
  background: linear-gradient(to bottom, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 );
  width: 100%;
  height: 10px;
}

.dreieck {
  position: absolute;
  z-index: 2;
  left: calc(50% - 50px);
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 25px solid white;
}
