---
layout: default
---

<a href="/" class="logo"><img src="/images/logo.png" class="responsive-img"/></a>
<div class="floating-info">
  {% include sprechzeiten.html %}
  {% include termin.html %}
</div>

<div class="slider">
  <ul class="slides header-bg center-align">
    <li>
      <img src="/images/slider_1.png" style="width: 80%" class="responsive-img">
    </li>
    <li>
      <img src="/images/slider_2.png" style="width: 80%" class="responsive-img">
    </li>
  </ul>
</div>

<div class="container section">
  <div class="row">
    <div class="col l4 s12 center-align">
      <img src="/images/zahnheilkunde-icon.png">
      <h5 class="sea-green-text">Zahnheilkunde</h5>
      <p>
        Ästhetische Zahnheilkunde ist für uns mehr als das bloße Füllen von Zähnen oder Anfertigen von Kronen. Wir pflegen den ganzheitlichen Blick auf Ihren Mund.<br/>
        Haben Sie Schmerzen, ist Ihre Mundflora aus der Balance gekommen. Gemeinsam und mit Hilfe von Füllungstherapien, Zahnersatz, Parodontologie, Endodontie und Professioneller Zahnreinigung stellen wir das Gleichgewicht wieder her und sorgen so für Ihr schönstes Lachen.
      </p>
      <a class="grey waves-effect waves-light btn w100">Mehr erfahren</a>
    </div>
    <div class="col l4 s12 center-align">
      <img src="/images/oralchirurgie-icon.png">
      <h5 class="yello-text">Oralchirurgie</h5>
      <p>
        Die Oralchirurgie ist ein Teilbereich der Zahnmedizin, der von weitergebildeten Fachzahnärzten ausgeübt wird. Die Tätigkeit eines Oralchirurgen umfasst unteranderem die Entfernung von Weisheitszähnen, die Therapie von Wurzelspitzenentzündungen, Setzen von Implantaten, die Freilegung von verlagerten Zähnen, die Entfernung von Knochen und Weichteilzysten, etc. Die meisten Eingriffe werden ambulant und mittels Lokalanästhesie durchgeführt.
      </p>
      <a class="grey waves-effect waves-light btn w100">Mehr erfahren</a>
    </div>
    <div class="col l4 s12 center-align">
      <img src="/images/kinder-icon.png">
      <h5 class="orchid-text">Kinder</h5>
      <p>
        Wir nehmen uns die Zeit, die nötig ist, damit bei unseren jüngsten Patienten erst gar keine Angst vorm Zahnarzt entsteht. Gemeinsam mit Willi bauen wir zu den Kindern ein Vertrauensverhältnis auf, welches es uns ermöglicht, den Zahnarztbesuch für Ihr Kind als spannendes Erlebnis zu gestalten. Willi hält gerne angstliche kleine Hände oder zeigt auch einfach nur, wie Zähneputzen richtig funktioniert.<br/>
        Ihr Kind wird Willi lieben.
      </p>
      <a class="grey waves-effect waves-light btn w100">Mehr erfahren</a>
    </div>
  </div>
</div>

<div class="container section">
  <hr/>
  <div class="row">
    <div class="col l6 center-align">
      <img src="/images/smiley.png"/>
    </div>
    <div class="col l6 left-align">
      <h5>
        Das Lächeln,<br/>dass Du aussendest,<br/>kehrt zu Dir zurück.
      </h5>
    </div>
  </div>
  <hr/>
</div>

<div class="container section">
  <h6 class="center-align">So finden Sie unsere Praxis</h6>
</div>
<iframe width="100%" height="500" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.de/maps?f=q&amp;source=s_q&amp;hl=de&amp;geocode=&amp;q=Dr.+Catharina+K%C3%B6bler,+Beinestra%C3%9Fe,+Gro%C3%9F-Zimmern&amp;aq=0&amp;oq=Dr.+Cathar&amp;sll=50.052492,8.483861&amp;sspn=0.158057,0.41851&amp;ie=UTF8&amp;hq=Dr.+Catharina+K%C3%B6bler,&amp;hnear=Beinestra%C3%9Fe,+64846+Gro%C3%9F-Zimmern&amp;ll=49.871956,8.830263&amp;spn=0.039657,0.104628&amp;t=m&amp;z=14&amp;iwloc=A&amp;cid=6436113936463529502&amp;output=embed"></iframe>
