---
layout: hero
title: Zentrum für Oralchirurgie und Systemische Zahnheilkunde
heroimg: cko1.jpg
---

<div class="floating_info">
  {% include sprechzeiten.html %}
  <div>&nbsp;</div>
  {% include termin.html %}
</div>

<div class="container center-align">
  <p class="flow-text">Herzlich Willkommen!</p>
  <p>
    Ich freue mich sehr, dass Sie neugierig sind, mehr über mich, meine Praxis und mein Behandlungsspektrum zu erfahren.
  </p>
  <p>
    Neugierig und Wissbegierig zu sein, zu erforschen, woher die Dinge kommen und welche Ursachen hinter ihnen stecken, ist schon immer meine Leidenschaft gewesen. Ich gebe mich selten mit nur einer Antwort zufrieden und suche nach weiteren Möglichkeiten.
    So ergab sich die Auswahl meiner persönlichen Schwerpunkte in der Zahnmedizin. Ich wollte schon immer den Menschen von Kopf bis Fuß betrachten und wissen, wer er ist, was er braucht und wie ich ihn stützen und unterstützen kann.
    Der Körper, die Zähne, der Kiefer, das Zahnfleisch, der gesamte Kauapparat &mdash; ja, der gesamte Mensch &mdash; helfen mir dabei.
  </p>
  <p>
    Durch meine Fachzahnarztausbildung zur Oralchirurgin schenke ich den Dingen eine andere Aufmerksamkeit. Unterstützt wird dies durch meine Ausbildung zur Cranio-Sakral-Therapeutin. Mein Blick und mein Gefühl für das Gewebe und den Menschen lassen mich erspüren, erfühlen und beurteilen, wie sie im wahrsten Sinne "aufgestellt" sind.
    Durch mein weites Spektrum baue ich ab, was keinen Halt mehr hat, erhalte das Fundament und stabilisiere und konstruiere gemeinsam mit Ihnen und Ihren Wünschen eine neue Balance, ein neues Lebensgefühl und Selbstbewusstsein.
  </p>
  <p class="flow-text">
    Ich liebe dieses Zusammenspiel.<br/>
    Ich liebe meine Arbeit als Oralchirurgin und Zahnärztin.<br/>
    Ich liebe es, für den Menschen - für Sie - da zu sein.
  </p>
  <p>
    Sollte ich Ihr Interesse an mir als Person, doch in erster Linie als Zahnärztin, Oralchirurgin und Cranio-Sakral-Therapeutin geweckt haben, so freue ich mich über ein persönliches Kennenlernen.
  </p>
  <p class="flow-text"><em>Sie stehen bei mir im Mittelpunkt!</em></p>
</div>

<div class="container section">
  <div class="row">
    <div class="col s12 l4 center-align">
      <h5>Parodontitis</h5>
      <p>
        Die Parodontitis (umgangssprachlich auch Parodontose genannt) ist eine weit verbreitete bakterielle Erkrankung des Zahnbettes. Ihre Ursachen sind vielfältig. Bleibt sie unerkannt, führt sie langfristig zur Lockerung und letztendlich zum Verlust von Zähnen. Bereits andauernde oder wiederkehrende Zahnfleischentzündungen sollten Sie aufmerksam werden lassen. Eine Parodontitis kann auch Auswirkungen auf Ihre Gesundheit nehmen: Die Anfälligkeit und das Risiko für Herzinfarkt und Schlaganfall können sich deutlich erhöhen. Wird sie rechtzeitig erkannt und richtig behandelt, sind die Chancen für eine Heilung gut.
      </p>
    </div>
    <div class="col s12 l4 center-align">
      <h5>Oralchirurgie</h5>
      <p>
        Die Oralchirurgie ist laut Definition ein (Spezial-)Teilgebiet zwischen der Zahnmedizin und der Kieferchirurgie, wobei die Grenzen fließend sind. Zu den Hauptaufgaben eines Oralchirurgen zählen das operative Entfernen von Zähnen &mdash;  insbesondere von Weisheitszähnen, die Durchführung von  Wurzelspitzenresektionen, Zystenentfernungen  und Operationen im Zusammenhang mit Parodontosebehandlungen, wie auch das Ersetzen von verloren gegangenen Zähnen durch Implantate, sowie Knochen- und Zahnfleischaufbauten. Auch kleine ästhetische Veränderungen an Kieferknochen, Zahnfleisch oder Lippenbändchen gehören zum Behandlungsgebiet. Für diese zahnmedizinischen Behandlungen muss der Oralchirurg eine 4-jährige Weiterbildung auf dem Gebiet der zahnärztlichen Chirurgie absolviert haben.
      </p>
    </div>
    <div class="col s12 l4 center-align">
      <h5>Komplexe Prothetik</h5>
      <p>
        Zahnersatz (Prothetik) ist für die Wiederherstellung Ihrer Lebensqualität auf mehreren Ebenen verantwortlich. Zahnersatz gibt es festsitzend und herausnehmbar &mdash; je nach individueller (und finanzieller) Situation haben Sie mehrere Möglichkeiten. Gehen Zähne verloren, kann dies zu vielfältigen Folgen und Problemen führen: Zähne kippen, Nachbarzähne verlängern sich, der Biß wird ungleich und Ihre Kiefergelenke und Muskeln geraten in eine Ausgleichs-Spannung und verspannen sich. Nicht vollständig zerkaute Nahrung ist der Beginn von Magen-Darm-Problemen, fehlende Zähne hemmen Ihr Lachen, Ihre Lebensqualität. Aus diesen und weitläufigeren Gründen sollen fehlende Zähne wieder ersetzt werden.
      </p>
    </div>
  </div>
</div>

<div class="container section">
  <hr/>
  <div class="row">
    <div class="col s12 m6 center-align">
      <img src="/images/smiley.png" style="margin-top: 0.5rem"/>
    </div>
    <div class="col s12 m6">
      <h5>
        Das Lächeln,<br/>das Du aussendest,<br/>kehrt zu Dir zurück.
      </h5>
    </div>
  </div>
  <hr/>
</div>

{% include map.html %}
