---
layout: hero
title: Patienten Informationen
permalink: /patienten-info.html
heroimg: cko3.jpg
---

<img src="/images/mittelpunkt.png" class="handwriting right"/>

<div class="container section">
  <div class="row">

    <div class="col s12 m6 text">
      <p>Liebe Patienten,</p>
      <p>ich freue mich, dass Sie sich für meine Praxis entschieden haben.</p>
      <p>Mir ist es wichtig, dass Sie sich wohl bei mir fühlen. Unbehagen und/oder Angst soll erst gar nicht aufkommen.</p>
      <p>Ich nehme mir gerne die Zeit, Ihnen alle Fragen in Bezug auf meine Behandlung, Therapien, verwendete Materialien und Prophylaxe-Möglichkeiten zu beantworten. Auch Fragen zu Rechnungen und Zahlungen in Verbindung mit der Behandlung dürfen Sie mir gerne stellen. Ich möchte, dass Sie informiert sind!</p>
      <p>Um Ihren ersten Besuch in meiner Praxis so angenehm wie möglich zu gestalten, bitte ich Sie, an alle wichtigen Unterlagen zu denken. Um Ihnen weitere unnötige Fragen zu ersparen, lesen Sie sich bitte die nebenstehende Checkliste in Ruhe durch und halten Ihre wichtigsten Unterlagen bereit.</p>
      <p>Sollten Sie einmal Anlass zu Kritik haben, wenden Sie sich bitte vertrauensvoll an mich und meine Mitarbeiterinnen, wir haben dafür jederzeit ein offenes Ohr. Nur so können wir besser werden und Ihnen den bestmöglichen Service bieten. Natürlich dürfen Sie uns auch loben, wenn Ihnen etwas besonders gut gefällt.</p>
      <p>Haben Sie Fragen im Vorhinein? Dann zögern Sie nicht, uns anzurufen. Für Ihr Anliegen nehmen wir uns gerne Zeit.</p>
    </div>

    <div class="col s12 m6">
      <ul class="collapsible">
        <li>
          <div class="collapsible-header"><i class="material-icons">keyboard_arrow_right</i>Patientencheckliste</div>
          <div class="collapsible-body">
            Bitte denken Sie an folgende Dinge bei Ihrem ersten Besuch bei uns:
            <ol>
              <li>Anamnesebogen: Bitte bringen Sie den ausgefüllten Anamnesebogen mit. Sie finden diesen im nächsten aufklappbaren Abschnitt zum Download.</li>
              <li>Allergie-Pass: Sollten Sie über nachgewiesene Allergien verfügen, denken Sie bitte an Ihren Allergie-Pass.</li>
              <li>Medikamentenliste: Falls Sie regelmäßig Medikamente einnehmen, so lassen Sie uns dies bitte wissen und bringen Sie uns eine Medikamentenliste mit. Wir hinterlegen diese in Ihrer Patientenkartei und können bei der Behandlung Ihre Medikamente stets berücksichtigen.</li>
              <li>Implantatpass: Verfügen Sie bereits über Implantate, bringen Sie uns bitte Ihren Implantatpass mit.</li>
              <li>Röntgenpass: Falls Sie einen Röntgenpass besitzen, bringen Sie diesen gerne mit. Fertigen wir Röntgenbilder bei uns in der Praxis an, tragen wir dies gerne in Ihren Pass ein.</li>
              <li>Vorhandene Röntgenaufnahmen: Sollten in den vergangenen zwei Jahren bei Ihnen Röntgenbilder angefertigt worden sein, bitten wir Sie, diese auf einem Datenträger mitzubringen. Gerne können wir auch mit Ihrem Einverständnis die bereits in einer anderen Praxis erstellten Bilder für Sie anfordern.</li>
              <li>Bonusheft: Verfügen Sie über ein Bonusheft der gesetzlichen Krankenversicherungen, so bringen Sie dieses bitte mit, damit wir Ihnen den Besuch in unserer Praxis betätigen können.</li>
            </ol>
          </div>
        </li>
        <li class="active">
          <div class="collapsible-header"><i class="material-icons">keyboard_arrow_right</i>Anamnesebogen</div>
          <div class="collapsible-body">
            <p>Wenn Sie das erste Mal zu uns kommen, füllen Sie bitte den Anamnesebogen vollständig aus und geben ihn unterschrieben am Empfang ab:</p>
            <p><a href="/files/Anamnesebogen.pdf" target="_blank"><i class="material-icons" style="vertical-align: bottom">file_download</i> Anamnesebogen (PDF)</a></p>
          </div>
        </li>
        <li>
          <div class="collapsible-header"><i class="material-icons">keyboard_arrow_right</i>Versichertenkarte</div>
          <div class="collapsible-body">
            <p>Bitte denken Sie bei einem Termin in unserer Praxis unbedingt an Ihre Versichertenkarte Ihrer Krankenkasse und legen Sie uns diese unaufgefordert vor.</p>
            <p>Sollten Sie Ihre Karte vergessen haben, so sind wir berechtigt, € 50 in Bar oder ein geeignetes Ausweisdokument als Pfand einzubehalten, bis Sie uns Ihre Versichertenkarte vorgelegt haben. Andernfalls sind wir nicht verpflichtet, eine Behandlung durchzuführen.</p>
            <p>Möchten Sie dennoch von uns behandelt werden, werden wir Ihnen die entstandenen Behandlungskosten als Privatleistung nach <a class="tooltipped" data-tooltip="Gebührenordnung für Zahnärzte">GOZ</a> in Rechnung stellen.</p>
          </div>
        </li>
        <li>
          <div class="collapsible-header"><i class="material-icons">keyboard_arrow_right</i>Netzwerk</div>
          <div class="collapsible-body">
            <p>Auch der ästhetischen Zahnheilkunde und der Oralchirurgie sind Grenzen gesetzt.</p>
            <p>Mir ist es wichtig, die Situationen, die über meine Kompetenzen und Erfahrungen hinausgehen, zu erkennen und zum richtigen Zeitpunkt spezialisierte Kollegen hinzuzuziehen und mit diesen zusammenzuarbeiten. Dies können je nach Einzelfall Kieferorthopäden, Mund-Kiefer-Gesichtschirurgen, Endodontiespezialisten oder Fachärzte aus dem allgemeinmedizinischen Bereich sein.</p>
          </div>
        </li>
        <li>
          <div class="collapsible-header"><i class="material-icons">keyboard_arrow_right</i>Finanzierung</div>
          <div class="collapsible-body">
            <p>Damit Sie nicht an einer notwendigen und vernünftigen Zahnersatzbehandlung sparen müssen, bietet Ihnen das Deutsche Zahnärztliche Rechenzentrum (DZR) in Stuttgart eine kostengünstige Finanzierung bzw. Teilzahlung Ihrer Zahnarzt-Rechnung an. Zahlen Sie in max. 6 Monatsraten, entstehen Ihnen aus der Finanzierung keine Kosten.</p>
            <p>Sprechen Sie uns auf die Teilzahlungsmöglichkeiten an, wir informieren Sie gerne! Alternativ können Sie sich auch direkt beim <a href="https://www.dzr.de/rechenzentrum/zrz/patienten/teilzahlung" target="_blank">DZR (hier klicken)</a> informieren.</p>
          </div>
        </li>
      </ul>
    </div>

  </div>

  <div class="row">
    <div class="col s12 m4">
      {% include sprechzeiten.html %}
    </div>
    <div class="col s12 m4">
      {% include termin.html %}
    </div>
    <div class="col s12 m4">
      {% include notdienst.html %}
    </div>
  </div>

</div>

{% include map.html %}
