---
layout: default
---

<div class="container section">
  <h4>Praxis</h4>
  <hr class="orchid"/>
</div>

<div class="container section">
  <div class="row">
    <div class="col m6 s12">
      <div class="row">
        <div class="col s6">
          <img src="/images/empfang.jpg" class="materialboxed praxis" width="100%"/>
        </div>
        <div class="col s6">
          <img src="/images/behandlung1.jpg" class="materialboxed praxis" width="100%"/>
        </div>
        <div class="col s6">
          <img src="/images/behandlung2.jpg" class="materialboxed praxis" width="100%"/>
        </div>
        <div class="col s6">
          <img src="/images/wartezimmer1.jpg" class="materialboxed praxis" width="100%"/>
        </div>
        <div class="col s6">
          <img src="/images/wartezimmer2.jpg" class="materialboxed praxis" width="100%"/>
        </div>
        <div class="col s6">
          <img src="/images/spruch.jpg" class="materialboxed praxis" width="100%"/>
        </div>
      </div>
    </div>
    <div class="col m6 s12">
      Sie als Patient – aber allem voran Sie als Mensch, und Ihr Anliegen stehen bei uns im Mittelpunkt.
      <p>Wenn Sie das erste Mal unsere Praxis betreten und die alte Atmosphäre kennen, betreten Sie eine neue, junge, moderne, farbenfrohe und freundliche Praxis. Eine Praxis, in der man sich willkommen und aufgehoben fühlen kann. Ein Ort, der nicht an Schmerzen oder Ängste erinnert, sondern eine Anlaufstelle ist, der bei Fragen, Anregungen, Probleme oder auch für eine kleine Zahninspektion aufgesucht werden kann.</p>
      <p>Unsere Praxis soll der Mittelpunkt unserer Tätigkeit sein. Sie soll Ihnen Ruhe und Balance vermitteln, um in ihrem Mund die Ruhe und Balance wieder herzustellen, die durch Bakterien, Stress, falsche Ernährung oder alte Gewohnheiten aus dem Gleichgewicht gebracht worden sind.</p>
      <p>Wir gehen auf Ihr persönliches Bedürfnis ein und nehmen uns die Zeit, die wir benötigen. Nur durch die passende Aufklärung und Information unserer Patienten können wir uns gemeinsam für die zu Ihnen passende Therapie entscheiden.</p>
      <p>Wir freuen uns über Ihren Besuch!</p>
      <p>Ihr Praxisteam<br/>Dr. Catharina Köbler</p>
    </div>
  </div>
  <div class="row">
    <div class="col m6 s12">
      {% include sprechzeiten.html %}
    </div>
    <div class="col m6 s12">
      {% include termin.html %}
    </div>
  </div>
</div>

{% include map.html %}
