<div id="cookieModal" class="modal bottom-sheet">
  <div class="modal-content">
    <h4>Verwendung von Cookies</h4>
    <p>
      Wir selbst verwenden auf unserer Website keine Cookies.
      Allerdings haben wir Inhalte von Google Maps und YouTube auf unseren Seiten integriert:
      <ul>
        <li>Google Maps: Sobald Sie die Anzeige der Karte durch Klicken aktivieren, werden Cookies von Google auf Ihrem Rechner gesetzt. Aktivieren Sie die Karte nicht, werden auch keine Cookies gesetzt.</li>
        <li>YouTube Videos: Sobald Sie ein auf dieser Website von YouTube integriertes Video starten, kann YouTube Cookies auf Ihrem Rechner setzen. Starten Sie kein Video, wird kein Cookie gesetzt.</li>
      </ul>
    </p>
    <p>Weitere Informationen zu Cookies erhalten Sie auch in unserer <a href="/datenschutz.html" class="modal-close">Datenschutzerklärung</a></p>
  </div>
  <div class="modal-footer" style="text-align: center;">
    <a href="#!" class="modal-close btn orchid">Alles klar</a>
  </div>
</div>
