<footer class="page-footer orchid" style="padding-bottom: 20px">
  <div class="container">
    <div class="right" style="text-align: right">
      <div class="grey-text text-lighten-4">
        Zahnärztlicher Notdienst (24h Telefonansage): 01805 - 607011<br/>
        <small>(14 Cent/Min. aus d. Festnetz, Mobilfunk max. 42 Cent/Min., ein Service der KZV Hessen)</small>
      </div>
      <a class="headline grey-text text-lighten-4" href="{{ site.baseurl }}/impressum.html">Impressum</a><br/>
      <a class="headline grey-text text-lighten-4" href="{{ site.baseurl }}/datenschutz.html">Datenschutzerklärung</a>
    </div>
    <div class="grey-text text-lighten-4">
      {{ site.name }}<br/>
      {{ site.description }}<br/>
      Beinestraße 1, 64846 Groß-Zimmern<br/>
      Tel. 06071 - 44246, E-Mail: info@praxisdrkoebler.de
    </div>
  </div>
</footer>
