<footer class="page-footer orchid">
  <div class="container">
    <div class="right" style="text-align: right">
      <a class="headline grey-text text-lighten-4" href="{{ site.baseurl }}/impressum.html">Impressum</a><br/>
      <a class="headline grey-text text-lighten-4" href="{{ site.baseurl }}/impressum.html#datenschutz">Datenschutzerklärung</a>
    </div>
    <p class="grey-text text-lighten-4">
      {{ site.name }}<br/>
      {{ site.description }}<br/>
      Beinestraße 1, 64846 Groß-Zimmern<br/>
      Tel. 06071 - 44246, E-Mail: <a href="mailto:info@praxisdrkoebler.de" class="grey-text text-lighten-4">info@praxisdrkoebler.de</a>
    </p>
  </div>
</footer>
