<div class="container section">
    <h5 class="center-align">So finden Sie meine Praxis</h5>
</div>
<div class="map-shadow"></div>
<div id="triangle" class="dreieck"></div>
<div id="mapsDisabled" class="container center-align">
  <p>
    Aufgrund aktueller Auslegungen von DSGVO-Richtlinien, dürfen wir Ihnen unseren Standort mit Google Maps nur nach Ihrer ausdrücklichen Einwilligung anzeigen.
    Mehr zum Datenschutz und Google-Maps finden Sie auf unserer <a href="./datenschutz.html#google-maps-mit-einwilligung">Datenschutz Seite</a>.
  </p>
  <p>Bitte klicken Sie auf die folgende Schaltfläche, um unseren Standort anzuzeigen:</p>
  <button class="btn-large orchid" onclick="enableMaps()">Zeige Standort</button>
</div>
