<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<meta name="author" content="{{ site.name }}">
<meta name="description" content="{{ site.description }}">
<meta name="keywords" content="{{ site.keywords }}">
<meta property="og:locale" content="de_DE"/>
<meta property="og:type" content="article"/>
<meta property="og:title" content="{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}"/>
<meta property="og:description" content="{{ page.excerpt }}"/>
<meta property="og:url" content="{{ site.url }}{{ page.url }}"/>
<meta property="og:site_name" content="{{ site.name }} – {{ site.description }}"/>
<meta property="og:image" content="{{ site.url }}/images/logo.png"/>
