<ul id="dd_leistungen" class="dropdown-content">
  <li><a href="#!">Zahnheilkunde</a></li>
  <li><a href="#!">Oralchirurgie</a></li>
  <li><a href="#!">Kinder</a></li>
</ul>
<nav class="orchid-transparent">
  <div class="nav-wrapper container">
    <a href="{{ site.baseurl }}/">
      <img src="{{ site.baseurl }}/images/logo_sticky.png" class="responsive-img nav-logo" alt="{{ site.name }}"/>
    </a>
    <a href="#!" data-activates="mobile-nav" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><a href="{{ site.baseurl }}/">Home</a></li>
      <li><a href="!#">Praxis</a></li>
      <li><a href="!#">Team</a></li>
      <li>
        <a class="dropdown-button" href="#!" data-activates="dd_leistungen">
          Leistungen<i class="material-icons right">arrow_drop_down</i>
        </a>
      </li>
      <li><a href="#">Für Patienten</a></li>
    </ul>
    <ul class="side-nav" id="mobile-nav">
      <li><a href="{{ site.baseurl }}/">Home</a></li>
      <li><a href="#!">Praxis</a></li>
      <li><a href="#!">Team</a></li>
      <li><a href="#!">Zahnheilkunde</a></li>
      <li><a href="#!">Oralchirurgie</a></li>
      <li><a href="#!">Kinder</a></li>
      <li><a href="{{ site.baseurl }}/impressum.html">Impressum</a></li>
    </ul>
  </div>
</nav>
