<div class="navbar {{ page.tag }}">
  <ul id="dd_leistungen" class="dropdown-content">
    <li><a href="{{ site.baseurl }}/zahnheilkunde.html">Zahnheilkunde</a></li>
    <li><a href="{{ site.baseurl }}/oralchirurgie.html">Oralchirurgie</a></li>
    <li><a href="{{ site.baseurl }}/kinder.html">Kinder</a></li>
  </ul>
  <nav class="orchid-transparent">
    <div class="nav-wrapper container">
      <a href="{{ site.baseurl }}/">
        <img src="{{ site.baseurl }}/images/logo_sticky.png" class="nav-logo" alt="{{ site.name }}"/>
      </a>
      <a href="#!" data-activates="mobile-nav" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="{{ site.baseurl }}/">Home</a></li>
        <li><a href="{{ site.baseurl }}/praxis.html">Praxis</a></li>
        <li><a href="{{ stie.baseurl }}/team.html">Team</a></li>
        <li>
          <a class="dropdown-button" href="#!" data-activates="dd_leistungen">
            Leistungen<i class="material-icons right">arrow_drop_down</i>
          </a>
        </li>
        <li><a href="{{ site.baseurl }}/patienten.html">Für Patienten</a></li>
      </ul>
      <ul class="side-nav" id="mobile-nav">
        <li><a href="{{ site.baseurl }}/">Home</a></li>
        <li><a href="{{ site.baseurl }}/praxis.html">Praxis</a></li>
        <li><a href="{{ stie.baseurl }}/team.html">Team</a></li>
        <li><a href="{{ site.baseurl }}/zahnheilkunde.html">Zahnheilkunde</a></li>
        <li><a href="{{ site.baseurl }}/oralchirurgie.html">Oralchirurgie</a></li>
        <li><a href="{{ site.baseurl }}/kinder.html">Kinder</a></li>
        <li><a href="{{ site.baseurl }}/patienten.html">Für Patienten</a></li>
        <li><a href="{{ site.baseurl }}/impressum.html">Impressum</a></li>
      </ul>
    </div>
  </nav>
</div>
