<!DOCTYPE html>
<html>
<head>
  {% include meta.html %}
  <link rel="stylesheet" href="{{ site.baseurl }}/css/material-icons.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/materialize.min.css">
  <link type="text/css" rel="stylesheet" href="{{ site.baseurl }}/css/style.css"/>
  <link href="{{ site.baseurl }}/images/smiley.png" rel="shortcut icon"/>
  <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.name }} – {{ site.description }}</title>
</head>

<body>
  {% include navbar.html %}

  <main>{{ content }}</main>

  {% include footer.html %}

  <script type="text/javascript" src="{{ site.baseurl }}/js/jquery-3.3.1.min.js"></script>
  <script type="text/javascript" src="{{ site.baseurl }}/js/materialize.min.js"></script>
  <script type="text/javascript" src="{{ site.baseurl }}/js/script.js"></script>
  {% include analytics.html %}
</body>
</html>
