---
layout: default
---

<div class="row header-bg">
  <div class="col s1"></div>
  <div class="col s3" style="margin-top: 30px;">
    <a href="/">
      <img src="/images/logo.png" class="responsive-img"/>
    </a>
  </div>
  <div class="col s6 right">
    <img src="/images/{% if page.header_img %}{{ page.header_img }}{% else %}header_orchidee.png{% endif %}" class="responsive-img"/>
  </div>
</div>

<div class="container section">
  <h4>{{ page.title}}</h4>
  <hr class="orchid"/>
</div>

{{ content }}
